<div class="m_text">
  <div>“<%= @message %>”</div>
  <div>想知道你通过英语四级的机率吗？来这里就知道http://apps.weibo.com/ceshi_cet4</div>
</div>
<div class="fx_box">
  <div class="gz_weibo"><input name="" type="checkbox" value="" id="gankao_weibo" /> 关注赶考网微博</div>
  <div class="fs_btn_box"><button class="fs_btn" onclick="send_message()"></button></div>
</div>
<script type="text/javascript">
  iframe_height(500);
</script>