<div class="m_text">
  <div>“<%= @message %>” </div>
  <div>想知道你通过英语四级的机率吗？来这里就知道
    <% if params[:web].nil? or params[:web] == "sina" %>http://apps.weibo.com/ceshi_cet4
    <% elsif params[:web] == "renren" %>http://apps.renren.com/ceshi_cet4
    <% elsif params[:web] == "QQ" %>http://apps.renren.com/ceshi_cet4
    <% end %>
  </div>
</div>
<div class="fx_box">
  <% if params[:web].nil? or params[:web] == "sina" %>
    <div class="gz_weibo"><input name="" type="checkbox" value="" /> 关注赶考网新浪微博</div>
    <div class="fs_btn_box">
      <button class="fs_btn" type="button" onclick="javascript:send_message('<%= params[:web] %>');" >分享到新浪微博</button>
    </div>
  <% elsif params[:web] == "renren" %>
    <div class="gz_weibo"><input name="" type="checkbox" value="" /> 关注赶考网人人公共主页</div>
    <div class="fs_btn_box">
      <button class="fs_btn" type="button" onclick="javascript:send_message('<%= params[:web] %>');">发送新鲜事</button>
    </div>
  <% elsif params[:web] == "qq" %>
    <div class="gz_weibo"></div>
    <div class="fs_btn_box">
      <button class="fs_btn" type="button" onclick="javascript:send_message('<%= params[:web] %>');">分享到QQ空间</button>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  iframe_height(500);
</script>