<div class="wrap e_bg">
  <div class="e_list e_margin1">
    <a href="http://apps.renren.com/pass_cet" class="cet4_1" target="_blank"></a>
    <a href="http://apps.renren.com/check_cet" class="cet6_1" target="_blank"></a>
    <a href="javascript:void(0)" class="cetKy_1"></a>
  </div>
  <div class="e_list e_margin2">
    <a href="http://apps.renren.com/graduate_iv" class="cet4_2" target="_blank"></a>
    <a href="http://apps.renren.com/graduate_vi" class="cet6_2" target="_blank"></a>
    <a href="http://apps.renren.com/graduate_ky" class="cetKy_2" target="_blank"></a>
  </div>
  <div class="e_list e_margin3">
    <a href="#" class="cet4_3"></a>
    <a href="#" class="cet6_3"></a>
    <a href="http://apps.renren.com/kaoyantgl" class="cetKy_3" target="_blank"></a>
  </div>
</div>
