 <h1>你目前的英语能力：</h1>
<ul id="ability_ul">
  <li><input name="ability" type="radio" value="0" /> How are you？Fine，think you，and you？</li>
  <li><input name="ability" type="radio" value="3" /> 雅思托福，轻松自如</li>
  <li><input name="ability" type="radio" value="2" /> so easy,妈妈再也不用担心我的学习</li>
  <li><input name="ability" type="radio" value="1" /> 可以当当家教，教育教育小朋友了</li>
</ul>

<h1>面对<% if cookies[:six] && cookies[:six]=="6" %>英语六级<% elsif cookies[:six] && cookies[:six]=="8" %>研究生英语<% else %>英语四级<% end %>考试，心情如何？</h1>
<ul id="heart_ul">
  <li><input name="heart" type="radio" value="2" /> 书到用时方恨少</li>
  <li><input name="heart" type="radio" value="1" /> 披星戴月，跪求指导</li>
  <li><input name="heart" type="radio" value="0" /> 让我穿越去清朝吧，从此不再受那考试苦…</li>
  <li><input name="heart" type="radio" value="3" /> 信手拈来，逢考必过</li>
</ul>

<h1>你学英语的态度？</h1>
<ul id="attritude_ul">
  <li><input name="attitude" type="radio" value="2" /> 三天打渔，两天晒网</li>
  <li><input name="attitude" type="radio" value="0" /> 置之不理，听天由命</li>
  <li><input name="attitude" type="radio" value="1" /> 每个月总有那么几天想起它</li>
  <li><input name="attitude" type="radio" value="3" /> 悬梁刺股，日复一日</li>
</ul>

<div class="m_btn_box">
  <button class="m_btn" type="button" onclick="javascript:check_message_form('<%= params[:web] %>');"></button>
</div>
<% if params[:web] != "sina" and params[:web] != "renren" %>
  <div class="gankao_w">如有问题，请访问<a href="http://www.gankao.co" target="_blank" class="logo_g">赶考网<small>www.gankao.co</small></a> © 2010-2012 欢迎加入官方交流群：227310092</div>
<% end %>