@charset "utf-8";
* { padding: 0; margin: 0;}
body { font-family: "微软雅黑", "宋体", Arial; font-size: 12px; color: #333;}
a { text-decoration: none;}
li { list-style: none;}

.wrap { width: 800px; height: 628px; overflow: hidden; background: #5ea6bc url(/assets/b_bg.jpg) no-repeat 0 bottom;}
.m_title {
    width: 695px;
	height: 229px;
	background: url(/assets/t6_bg.jpg) no-repeat 0 top;
	text-indent: -999px;
	overflow: hidden;
	margin: 100px auto 50px auto;
}
.n_title {
	width: 720px;
	height: 140px;
	background: url(/assets/t6_bg.jpg) no-repeat 0 -229px;
	text-indent: -999px;
	overflow: hidden;
	margin: 10px auto;
}
.s_title {
	width: 620px;
	height: 160px;
	background: url(/assets/t6_bg.jpg) no-repeat 0 -372px;
	text-indent: -999px;
	overflow: hidden;
	margin: 10px auto;
}
.b_btn {
    width: 260px;
	height: 80px;
	display: block;
	line-height: 80px;
	color: #FFF;
	font-weight:bolder;
	background: #00d6ff;
	border-radius: 0.6em;
	border: 5px #f5ecc3 solid;
	font-size: 40px;
	box-shadow: 2px 2px 2px rgba(22,110,136, 0.8);
	text-align: center;
	margin: 0 auto;
}

.main { background: #2d6f85; padding: 5px 50px; height: 410px;}

.q_list { font-size: 24px; line-height: 36px; color: #FFF; padding: 20px 0; min-height: 100px; padding-left: 60px;}

.q_ul { line-height: 36px; font-size: 18px; color: #FFF; height: 180px; display: block; overflow: hidden; padding-left: 60px;}
.q_ul li { padding-left: 35px; cursor: pointer;}
.q_ul li:hover { text-decoration: underline;}
.q_ul li.dui { background: url(/assets/dui.png) no-repeat 0 5px;}

.pn_btn {width: 400px; margin: 0 auto; overflow: hidden;}
.prev_btn, .next_btn {
    padding: 10px 30px;
	border: 3px #5ea6bc solid;
	border-radius: 0.6em;
	background: #FFF;
	color: #333;
	font-size: 20px;
}
.prev_btn:hover, .next_btn:hover { box-shadow: 2px 2px 1px #186da0,-2px -2px 1px #186da0;}
.prev_btn { float: left;}
.next_btn { float: right;}

.end_box {
    height: 220px;
	background: #0293b0;
	line-height: 220px;
	text-align: center;
	font-size:160px;
	color: #f6e7bc;
	text-shadow: 0px 0px 10px rgba(250,250,250,1);
	font-weight:bolder;
}

.up_btn {
    width: 350px;
	height: 80px;
	display: block;
	line-height: 80px;
	color: #fe495c;
	font-weight:bolder;
	background: #00d6ff;
	border-radius: 0.6em;
	border: 5px #f5ecc3 solid;
	font-size: 40px;
	box-shadow: 2px 2px 2px rgba(22,110,136, 0.8);
	text-align: center;
	margin: 55px auto;
}